// This is where you override default Bootstrap variables
// 1. All Bootstrap variables are here => https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// 2. These variables are defined with default value (see https://robots.thoughtbot.com/sass-default)
// 3. You can override them below!

// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 #EDF2F7;
$font-size-base: 1rem;

// Colors
$body-color: #000000;
$primary:    #ffa34d;
$primary-2:  #f67575;
$secondary:   #1eb2a6;
$light: $body-bg;
$light-secondary: #D4F8E8;
// $success:    $green;
// $info:       $yellow;
// $danger:     $red;
// $warning:    $orange;

// Buttons & inputs' radius
$border-radius:    4px;
$border-radius-lg: 8px;
$border-radius-sm: 2px;

// Override other variables below!
$link-color: $secondary;
$link-hover-decoration: none;

$breadcrumb-bg: $body-bg;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$btn-padding-y: 8px;
$btn-padding-x: 16px;
$btn-font-weight: bold;

$modal-backdrop-bg: $secondary;
$modal-backdrop-opacity: .8;

.btn-primary {
  color: white !important;
  background: linear-gradient($primary, $primary-2);
}


.btn-secondary {
  color: $secondary !important;
  background: $light-secondary !important;
  border: none !important;
  &:hover {
    background: $secondary !important;
    color: white !important;
  }
}
