<div class="bg-dark text-white">
  <div class="container pt-3 pb-5">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to "My Account", my_account_path %>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          Archived Items
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-n5 pb-4">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'sidebar', user: @user, active: :pending %>
    </div>
    <div class="col-lg-8">
      <%= render 'items/list', title: "Archived Items", items: current_user.items.archived_items %>
    </div>
  </div>
</div>
