<div class="bg-dark">
  <div class="container py-4">
    <p class="text-white mb-0">Created by <%= link_to "Arthur", "https://github.com/arthur-littm" %>.</p>
    <span class="small text-muted">Ⓒ 2020 Scubo.life, All rights reserved.</span>
  </div>
</div>
