<div class="card p-3 mb-3">
  <strong><%= title %></strong>
  <hr>
  <% collection.each do |resource| %>
  <div class="panel-item py-1">
    <% if resource.is_a?(Category) %>
      <span class="mr-2">
        <%= resource.emoji %>
      </span>
    <% end %>
    <span>
      <%= resource.name %>
    </span>
  </div>
  <% end %>
</div>
