<div class="text-white pt-2 d-none d-lg-block">
  <h5><%= title %></h5>
</div>
<div class="pt-2">
  <% if items.any? %>
    <% items.each do |item| %>
      <%= render 'items/list_item', item: item %>
    <% end %>
  <% else %>
    <% if title == 'Pending Approvals' %>
      <p class="text-muted pt-3">No items with pending approval, <%= link_to "add one here", new_item_path %></p>
    <% elsif title == 'Archived Items' %>
      <p class="text-muted pt-3">No items in the archive.</p>
    <% elsif title == 'Saved Items' %>
      <p class="text-muted pt-3">No saved items, <%= link_to "browse items here", root_path %>.</p>
    <% end %>
  <% end %>
</div>
