<div class="container pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Scubo
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-3">
      <div class="card p-3">
        <strong>Categories</strong>
        <hr>
        <%# @categories.each do |category| %>

        <%# end %>
      </div>
    </div>
    <div class="col-9">

    </div>
  </div>

</div>
