<div class="container pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Scubo
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-3">
      <%= render 'shared/panel', collection: @categories, title: "Categories" %>
      <%= render 'shared/panel', collection: @hashtags, title: "Popular hashtags" %>
    </div>
    <div class="col-9">
      <div class="cards">
        <% @scubos.each do |scubo| %>
          <%= render scubo %>
        <% end %>
      </div>
    </div>
  </div>

</div>
