<div class="container py-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Scubos", root_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Scubo
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-8">
      <h2>Add Scubo</h2>
      <p class="text-muted">Scubos are things you’d like your friends to know about, like a cool bar, a nice bench, etc.</p>
      <%= render "form", scubo: @scubo %>
    </div>
    <div class="col-4">
      <!-- map -->
    </div>
  </div>
</div>
